[submodule "external/KTT"]
	path = external/KTT
	url = https://github.com/HiPerCoRe/KTT.git
	branch = development
	ignore = untracked
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
